:root {
  --background-color: hsl(0, 0%, 7%);
  --midground-color: hsl(0, 0%, 12%);
  --foreground-color: hsl(0, 0%, 14%);
  --hover-color: hsl(0, 0%, 23%);
  --text-color: hsl(360, 100%, 100%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: system-ui;
  font-size: 14px;
}

.input-bar {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}

.bar {
  background-color: var(--foreground-color);
  border: 0;
  color: var(--text-color);
  width: 40vw;
  height: 40px;
  overflow: hidden;
  margin-bottom: 5px;
}

.bar:focus {
  outline: none;
}

.object-list {
  max-height: 300px;
  overflow-y: scroll;
}

.object-list ul {
  width: 38vw;
  padding: 30px;
  background-color: var(--foreground-color);
  list-style-type: none;
  position: absolute;
}

.object-list li {
  line-height: 1.5;
  height: 24px;
  position: relative;
  margin: 15px 0 15px 0;
  cursor: pointer;
}

.object-list li:hover {
  background-color: var(--hover-color);
}

.days-of-week {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.day {
  margin: 1%;
  height: 60vh;
  width: 10%;
  background-color: var(--midground-color);
}
